:root {
	--tittle: #090f74;
    --backlight: rgb(218, 226, 255);
    --border: rgb(90, 90, 90);
    --shadow: rgb(128, 128, 128);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
	margin: 10px auto;
	border: 1px solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

th, td {
    border: 1px solid var(--border);
    padding: 7px 25px;
}

caption {
    padding: 10px;
    caption-side: bottom;
	font-size: .85rem;
}

th:first-child {
    background-color: var(--tittle);
    color: white;
}

tr:nth-child(1), tr:nth-child(3) {
    background-color: var(--backlight);
}