@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: #fffdf9;
    min-width: 375px;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

header {
    display: grid;
    background-color: #fac116;
    grid-template: 
            "b a" auto
            "c c" auto;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1%;
}

header img {
    min-width: 100px;
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

header h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    grid-column: span 2;
    font-size: 1.5em;
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid #cfe4e833;
    padding: 3px 7px 6px;
    background-color: #ffffff;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation li {
    display: none;
}

.open li {
    display: flex;
    flex-direction: column;
    position: relative;
    left: auto;
    width: 100%;
}

.open li a {
    text-decoration: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    color: black;
    margin-top: 20px;
}

.navigation {
    font-size: 1.2em;
    list-style: none;
    padding: 1em;
  }

.navigation li {
    margin: 0 10px;
}

.navigation a:hover {
    color: white;
}

.slideshow img {
    width: 100%;
    border-bottom-right-radius: 20em 8em;
    border-bottom-left-radius: 20em 8em;
}

.my-slide {
    display: none;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.slideshow {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: -1;
}
    
.button {
    border-radius: 6px;
    background-color: #fac116;
    color: #000;
    cursor: pointer;
    font-size: .7rem;
    padding: .5em 2em;
    text-align: center;
    border: 0.2em solid black;
    margin-top: -3em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}


.button:hover {
    color: #ffffff;
    border: 0.2em solid #ffffff;
    box-shadow: 0px 0px 60px 40px #ffffff;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fac116;
    margin: 20px 0;
}

.contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.rental-summary {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.rental-summary figure:hover {
    transform: scale(1.02);
    transition: .5s;
    border: 2px solid #717171;
}

.rental-summary img {
    width: 100%;
}

figcaption {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

footer {
    background-color: #fac116;
    padding: 2em;
}

.footer-container {
    max-width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#weather-fig {
    margin-bottom: 10px;
}

.iconcaption {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 1em;
    margin-top: 10px;
}

#current-temperature,
#current-humidity,
#next-day-forecast {
    margin: 5px 0;
}

#next-day-forecast {
    font-size: 1.2em;
}

/* RENTALS PAGE */

.rentals-info {
    margin-top: 4em;
}

.rentals-table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

.rentals-table th, .rentals-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.rentals-table th {
    background-color: #f2f2f2;
}

.rentals-table tbody tr:hover {
    background-color: #f5f5f5;
}

.reserv-button {
    border-radius: 6px;
    background-color: #fac116;
    color: #000;
    cursor: pointer;
    font-size: 2em;
    padding: .5em 2em;
    text-align: center;
    border: 0.2em solid black;
    display: flex;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    z-index: 1;
}

.reserv-button:hover {
    color: #ffffff;
    border: 0.2em solid #ffffff;
    font-weight: 600;
    box-shadow: 0px 0px 60px 40px #fac116;
}