@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #fffdf9;
    min-width: 375px;
}

h1, h2 {
    text-align: center;
}

header {
    display: grid;
    background-color: #fac116;
    grid-template: 
            "b a" auto
            "c c" auto;
    align-items: center;
    padding: 1%;
}

header img {
    min-width: 100px;
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

header h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    grid-column: span 2;
    font-size: 1.5em;
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid #cfe4e833;
    padding: 3px 7px 6px;
    background-color: #ffffff;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation li {
    display: none;
}

.open li {
    display: flex;
    flex-direction: column;
    position: relative;
    left: auto;
    width: 100%;
}

.open li a {
    text-decoration: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    color: black;
    margin-top: 20px;
}

.navigation {
    font-size: 1.2em;
    list-style: none;
    padding: 1em;
  }

.navigation li {
    margin: 0 10px;
}

.navigation a:hover {
    color: white;
}

.slideshow {
    width: 100%;
    position: relative;
    margin: auto;
}

.slideshow img {
    width: 100%;
    border-bottom-right-radius: 20em 8em;
    border-bottom-left-radius: 20em 8em;
}

.my-slide {
    display: none;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.button {
    border-radius: 6px;
    background-color: #fac116;
    color: #000;
    cursor: pointer;
    font-size: .7rem;
    padding: .5em 2em;
    text-align: center;
    border: 0.2em solid black;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.button:hover {
    color: #ffffff;
    border: 0.2em solid rgb(255, 255, 255);
    box-shadow: 0px 0px 60px 40px rgb(255, 255, 255);
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fac116;
    margin: 20px 0;
}

.contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.rental-summary {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.rental-summary img {
    width: 100%;
}

figcaption {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

footer {
    background-color: #fac116;
    padding: 2em;
}

.footer-container {
    max-width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}