@media screen and (min-width: 750px) {
    #menu {
        display: none;
    }

    nav {
        text-align: center;
    }

    .navigation {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }

    .navigation li {
        display: inline-block;
        margin: 0 10px;
    }

    .navigation a {
        text-decoration: none;
        font-size: 1.5em;
        display: inline-block;
        transition: 0.3s;
        color: black;
    }

    .navigation a:hover {
        transform: scale(1.2);
        color: #ffffff;

    }

    header h1 {
        text-align: center;
        font-size: 3em;
    }
}