@media screen and (min-width: 750px) {
    #menu {
        display: none;
    }

    header img {
        margin: 0 auto;
        max-width: 50%;
        height: auto;
    }

    nav {
        text-align: center;
    }

    .navigation {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }

    .navigation li {
        display: inline-block;
        margin: 0 10px;
    }

    .navigation a {
        text-decoration: none;
        font-size: 1.5em;
        display: inline-block;
        transition: 0.3s;
        color: black;
    }

    .navigation a:hover {
        transform: scale(1.2);
        color: #ffffff;
    }

    header h1 {
        text-align: center;
        font-size: 3em;
    }

    .button {
        border-radius: 15px;
        font-size: 1.8rem;
        padding: .5em 2em;
        bottom: 15%;
        left: 50%;
    }

    .button:hover {
        background: #fdf8e9;
        font-weight: 800;
        color: black;
    }

    .rental-summary {
        flex-direction: row;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
    }

    .rental-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .thanks {
        height: 40vh;
    }
    
    .contact-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        gap: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-information {
        padding: 2em;
        margin: auto;
        border-radius: 2em;
    }

    .gmap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 5em;
    }
    
    .gmap > div {
        width: 100%;
    }
}