@media screen and (min-width: 850px) {
    h1 {
        font-size: 3em;
    }
    
    .hero-image {
        flex-direction: row;
    }

    .hero-text {
        font-size: 2.5em;
    }

    .button {
        top: 15%; 
        left: 80%; 
        max-width: 50rem;
    }

    #events-weather {
        flex-direction: row;
    }

    .current-events h1, .weather h1 {
        font-size: 1.8em;
    }

    .member-spotlights {
        color: #f1f1ef;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "c1 c1 c3"
        "c1 c1 c3"
        "c1 c1 c4"
        "c2 c2 c4"
        "c2 c2 c5"
        "c2 c2 c5";
    }
    
    .card {
        grid-row: span 1;
        grid-column: span 1;
        background-color: #ebf7ff;
        border: 2px solid black;
        margin: 2em;
        box-shadow: 0.2em 0.2em 0.2em #003357;
    }

    #c1 {
        grid-area: c1;
    }

    #c2 {
        grid-area: c2;
    }

    #c3 {
        grid-area: c3;
    }

    #c4 {
        grid-area: c4;
    }

    #c5 {
        grid-area: c5;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social img {
        margin: 1em;
        height: 4em;
        width: 4em;
    }

    /* -- Discover in Week 7 -- */

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    form label.sbs {
        text-align: left;
        margin-left: 30%;
    }

    form input.submitBtn:hover {
        font-size: 1.5rem;
        max-width: 21rem;
        transition: .6s;
    }

    .grid-side-bar {
        background-color: #005c9d;
        position: sticky;
        top: 0;
        height: 100vh; /* Set the height to take full viewport height */
        width: auto; /* Set the width as per your design */
        z-index: 100; /* Set a z-index to ensure it stays above the main content */
        margin-right: 20px; /* Add margin to create space between sidebar and main content */
    }

    /* Join Page */

    #mainform {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #benefits {
        display: block;
        margin-top: auto;
        margin-bottom: 100px;
        margin-left: -70px;
    }
}