@media screen and (min-width: 850px) {
    h1 {
        font-size: 3em;
    }
    
    .hero-image {
        flex-direction: row;
    }

    .hero-text {
        font-size: 2.5em;
    }

    .button {
        top: 15%; 
        left: 80%; 
    }

    #events-weather {
        flex-direction: row;
    }

    .current-events h1, .weather h1 {
        font-size: 1.8em;
    }

    .member-spotlights {
        color: #f1f1ef;
        gap: 1rem;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "c1 c1 c3"
        "c1 c1 c3"
        "c1 c1 c4"
        "c2 c2 c4"
        "c2 c2 c5"
        "c2 c2 c5";
    }
    
    .card {
        grid-row: span 1;
        grid-column: span 1;
        background-color: #ebf7ff;
        border: 2px solid black;
        margin: 2em;
        box-shadow: 0.2em 0.2em 0.2em #003357;
    }

    #c1 {
        grid-area: c1;
    }

    #c2 {
        grid-area: c2;
    }

    #c3 {
        grid-area: c3;
    }

    #c4 {
        grid-area: c4;
    }

    #c5 {
        grid-area: c5;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social img {
        margin: 1em;
        height: 4em;
        width: 4em;
    }

    /* -- Discover in Week 7 -- */

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

}