@media screen and (min-width: 650px) {
    nav {
        margin: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main h2 {
        grid-column: span 2;
        text-align: center;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
        display: flex;
        flex-direction: row;
		justify-content: space-evenly;
	}
    
	.navigation li {
        display: flex;
	}

    .active::before {
        color: #3498db;
        content: "👉 ";
    }

    .gmap {
        grid-column: span 2;
        height: 100%;
        width: 100%;
    }

    .label p {
        font-size: 2rem;

    }
}